HealthCurrent {
  position: absolute;
  left: 48px;
  top: 24px;
  transition: all 0.25s ease-out;
  width: 196px;
  height: 196px;

  .health-block {
    position: absolute;
    background-image: url("/ui/hud/circlehud.png");
    background-size: cover;
    background-tint: #e74c3c;
    width: 100px;
    height: 100px;
    transform-origin: 50% 50%;
  }

  .health-block-0 {
    left: 0;
    top: 0;
  }

  .health-block-1 {
    transform: rotate(90deg);
    top: 0;
    right: 0;
  }

  .health-block-2 {
    transform: rotate(180deg);
    bottom: 0;
    right: 0;
  }

  .health-block-3 {
    transform: rotate(270deg);
    bottom: 0;
    left: 0;
  }

  .visible {
    background-tint: #2ecc71;
  }
}

LifeCurrent {
  position: absolute;
  transform: rotate(-10deg);
  left: 93px;
  top: 118px;
  padding: 0 20px;
  transition: all 0.25s ease-out;
  flex-direction: row;
  z-index: 1;

  .number {
    font-family: "Fredoka One";
    text-stroke: 16px black;
    transform: rotate(20deg);
    left: 48px;
    top: 32px;
    font-size: 64px;
    font-weight: bold;
    color: #f1c40f;
    height: 30px;
    padding: 0 0px;
    align-items: center;
    transition: all 0.25s ease-out;

    &.lifelow {
      color: #c0392b;
    }
  }

  .playerimage {
    position: absolute;
    width: 108px;
    aspect-ratio: 1;
    top: -48px;
    left:1.5%;
    border-radius: 50%;
    border: 6px black;
  }
}

CoinCurrent {
    position: absolute;
    transform: rotate(-10deg);
    left: 200px;
    top: 65px;
    padding: 0 0px;
    transition: all 0.25s ease-out;
    flex-direction: row;
    z-index: 2;

    .coinimage {
        position: absolute;
        width: 65px;
        aspect-ratio: 1;
        top: -48px;
        left: 1.5%;
        border-radius: 50%;
        border: 4px black;
    }

    .coinnumber {
        position: absolute;
        font-family: "Fredoka One";
        text-stroke: 16px black;
        transform: rotate(20deg);
        left: 45px;
        top: 2px;
        font-size: 48px;
        font-weight: bold;
        color: #f1c40f;
        height: 30px;
        padding: 0 0px;
        align-items: center;
        transition: all 0.25s ease-out;
    }
}

KeysCollected {
    position: absolute;
    left: 5px;
    top: 10px;
    padding: 0 0px;
    transition: all 0.25s ease-out;
    flex-direction: column;



    KeyPanel {
        opacity: .15;
        font-family: "Material Icons";
        text-stroke: 12px black;
        // transform: rotate(20deg);
        padding-left: 10px;
        font-size: 48px;
        font-weight: bold;
        color: #3498db;
        transition: all 0.25s ease-out;

        &.Active {
            opacity: 1;
        }
    }

    .key1 {
        //color: #EA2027;
    }

    .key2 {
        // color: #009432;
    }

    .key3 {
        //color: #0652DD;
    }

    .key4 {
        //color: #D980FA;
    }
}
EnergyCurrent {
    color: #fff;
    font-family: "Fredoka One";
    flex-direction: column;
    //justify-content: center;
    position: absolute;
    left: 11%;
    top: 12.45%;
    width: 200px;

    .energynm {
        font-family: "Fredoka One";
        text-stroke: 14px black;
        font-size: 24px;
        font-weight: bold;
        position: absolute;
        bottom: 32px;
        left: 96px;
        right: 0;
        width: auto;
        height: 24px;
        transform-origin: 50%,50%;
        transition: all 0.25s ease-out;
    }

    .energy {
        background-color: yellow;
        position: absolute;
        opacity: .75;
        bottom: 0px;
        left: 0;
        right: 0;
        width: auto;
        height: 24px;
        transform-origin: 50%,50%;
        transition: all 0.25s ease-out;
    }

    .energybg {
        background-color: rgb(150, 150, 150,.25);
        position: absolute;
        border: 4px black;
        bottom: 0px;
        left: 0px;
        right: 0;
        width: auto;
        height: 24px;
        transform-origin: 50%,50%;
    }
}
