.scoreboard {
    position: absolute;
    z-index: 100;
    flex-direction: column;
    font-family: "Fredoka One";
    font-size: 24px;
    font-weight: 500;
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-color: rgba( 0, 0, 0, 0.5 );
    transition: all 0.1s ease-out;
    transform: scale( 1.05 );
    transform-origin: 50% 50%;

    &.open {
        opacity: 1;
        transform: scale( 1 );
    }

    .name {
        flex-grow: 1;
        text-transform: uppercase;
    }

    .deaths, .kills, .ping {
        width: 150px;
        text-align: right;
        text-transform: uppercase;
    }

    .kills {
        padding-right: 20px;
    }

    .header {
        font-weight: 200;
        opacity: 0.3;
        border-bottom: 4px solid rgba( white, 0.6 );
        min-width: 40%;
    }

    .canvas {
        flex-direction: column;
        min-height: 50%;
        min-width: 40%;

        .entry {
            margin-bottom: 2px;
            padding: 10px;

            &.me {
                color: #b6ff00;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba( #FAB002, 0.2 );
            }

            &:active {
                background-color: rgba( #FAB002, 0.4 );
            }
        }
    }
}
