
@import "../Vars.scss";

ControlPanel {
    color: $fontcolor;
    position: absolute;
    bottom: 32px;
    right: 32px;
    align-items: flex-end;
    z-index: 101;
    flex-direction: column;
    font-family: Poppins;

    ControlEntry {
        padding: 8px;
        background-color: $bg;
        margin-bottom: 2px;

        .name {
            margin-right: 4px;
            border-right: 2px solid $green;
            padding-right: 4px;
            font-weight: 600;
        }

        .description {
        }
    }
}
