
@import "../../_vars.scss";
iconpanel {
    font-family: "Material Icons";
}
platformerchatbox {
    position: absolute;
    bottom: 100px;
    left: 100px;
    z-index: 80;
    flex-direction: column;
    width: 500px;
    font-family: "Nunito-Black";
    font-weight: 900;
    font-size: 13px;
    pointer-events: none;

    textentry {
        background-color: black;
        opacity: 0;
        color: $NearBlack;
        padding: 15px;
        background-color: $BGCream;
        border-radius: 50%;
        font-size: 16px;
        flex-shrink: 0;
        flex-grow: 0;
        width: 120%;
    }

    .sendbutton {
        font-family: "Material Icons";
        font-size: 25px;
        color: $BGCream;
        text-align: center;
        align-items: center;
        background-color: $BGButton;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        opacity: 0;
        margin-left: 110%;
        top: 46px;
        z-index: 2;
    }

    .placeholder {
        color: $BGTxtFade;
    }

    .chat_canvas {
        flex-direction: column;
        align-items: flex-start;
    }

    &.open {
        pointer-events: all;

        .sendbutton {
            opacity: 1;
        }

        textentry {
            opacity: 1;
        }
    }
}

platformerchatentry {
    background-color: $BGCream;
    border-radius: 10%;
    margin-bottom: 5px;
    color: white;
    transition: all 0.1s ease-out;
    opacity: 1;
    max-height: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 12px;
    padding-left: 45px;
    min-height: 60px;
    max-width: 100%;
    transform: scale( 1 );
    backdrop-filter: blur( 5px );
    

    &:intro {
        max-height: 0px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        opacity: 0;
        transform: scale( 0 );
    }

    &.faded {
        opacity: 0;
    }

    image {
        width: 32px;
        height: 32px;
        min-height: 32px;
        border-radius: 5px;
        position: absolute;
        left: 6px;
        top: 6px;
    }

    .name {
        padding-right: 6px;
        font-weight: 600;
        font-size: 12px;
        color: #f1c40f;
        flex-shrink: 0;
    }

    .message {
        color: #ccc;
        font-size: 14px;
        flex-grow: 1;
    }

    &.noname .name {
        display: none;
    }

    &.noavatar image {
        display: none;
    }

    &.is-lobby {
        .name {
            color: #ff80f5;
        }
    }

    &.custom {
        .name {
            display: none;
        }
    }
}
