@inherits Panel
@using Sandbox;
@using Sandbox.UI;
@namespace Platformer.UI
@attribute [StyleSheet("UI/Base/PlatformerKillfeed/PlatformerKillfeed.scss")]

<root>

    <div class="entries" @ref="Canvas"></div>

</root>