@inherits Panel
@using Sandbox;
@using Sandbox.UI;
@namespace Platformer.UI

<root>
    <div class="icon">
        @Icon
    </div>

    <div class="header">
        @Header
    </div>

    <div class="main">
        @Message
    </div>
</root>