@inherits Panel
@using Sandbox;
@using Sandbox.UI;
@namespace Platformer.UI
@attribute [StyleSheet("UI/Base/PlayerInfo/HealthCurrent.scss")]

<root>
    <div class="icon">
        @Icon
    </div>

    <div class="main">
        @Message
    </div>
</root>