@inherits Panel
@using Sandbox;
@using Sandbox.UI;
@namespace Platformer.UI
@attribute [StyleSheet("PlayerCard.scss")]
<root>
    <AvatarPanel />

    <div class="bars">
        <BlockBar max="4" current="2" icon="add_circle" @ref="HealthBar" />
    </div>

    <div class="header">
        <!-- Lives -->
        <div class="entry lives" @ref="LivesPanel">
            <label class="icon">favorite</label>
            <label class="text">@Lives</label>
        </div>

        <!-- Coins -->
        <div class="entry coins" @ref="CoinsPanel">
            <label class="icon">paid</label>
            <label class="text">@Coins</label>
        </div>
    </div>
</root>